
/* Style du titre de la popup */
.map-overlay-popup h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

/* Style du contenu de la popup */
.map-overlay-popup p {
    margin: 0;
}

/* Style du bouton de fermeture de la popup */
.map-overlay-popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Style du curseur de la souris lorsqu'il survole la couche */
.mapboxgl-canvas {
    cursor: pointer;
}

.mapboxgl-popup-content {
    max-width: 240px;
}
